#logoPrincipal{
    position: absolute;
    width:25%;
    top:25%;
    left:55%;
    margin-top:0%;
    display:flex;
}

#divRegistro{
    margin-top: -3%;
    margin-left: 17%;
    margin-right: 25%;

}
#botonAceptarRegistro{
    background-color:#1b7191;
    border-radius: 5px;
    border:none;
}
#botonAceptarRegistro:hover{

    background-color:#0f485c;
}

#botonCancelarRegistro{
    background-color:#dc1c31;
    border-radius: 5px;
    border:none;
}

#botonCancelarRegistro:hover{
    background-color: darkred;
}

#tituloRegistro{
    color:#1b7191;
    text-align: center;
}

#formLogin{
    padding:5%;
}

#nombreRegistro{
    width:30%;
}
#dniRegistro{
    width:30%;
}
#tlfRegistro{
    width:30%;
}
#emailRegistro{
    width:30%;
}
#passwordRegistro{
    width:30%;
}